#pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#pagination button {
    background-color: transparent;
    color: var(--text-medium);
    font-weight: bold;
    padding: 2px 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

#pagination #current {
    background-color: var(--accent);
    color: var(--text-light);
    font-weight: bolder;
}