.options {
    background-color: var(--bg-light);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

input,
select {
    padding: 6px 10px;
    flex-grow: 0.5;
    border: 1px solid var(--bg-medium);
}

.options * {
    margin: auto 0;
}

.btn {
    background-color: var(--bg-dark);
    color: var(--text-light);
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
}

.btn:hover {
    background-color: var(--accent);
    color: var(--text-dark);
}